/* src/components/SplashScreen.css */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: 24px;
    color: #333;
  }
  
  .splash-screen img,.splash-heading {
    animation: fadeInScale 3s ease-in-out forwards;
  }
  
  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }